* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 10px;
}
 
.container {
    display: flex;
    gap: 4px;
}

.hero-image {
    width: 100%;
    height: 40vh;
}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.content {
    display: flex;
    gap: 4px;
}

.image {
    height: 50px;
    width: 100px;
}

.title {
    font-weight: bold;
}

.title p {
    margin: 10px 0;
}